<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>JOCO MOTO</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Paytone+One" rel="stylesheet">
    <link href="/assets/css/style.css"  rel="stylesheet">


  </head>
  <body>
    <nav class="navbar navbar-default">
				<div class="container-fluid">
					<div class="navbar-header">
						<a class="navbar-brand" id="brand" href="/">JOCO MOTO</a>
					</div>
						<form class="navbar-form navbar-left" action="/scrape" method="get">
							<button class="btn btn-danger saved">View Saved Articles</button>
						</form>
						<form class="navbar-form navbar-left" action="/scrape" method="get">
							<button class="btn btn-danger scrape">Scrape New Articles</button>
						</form>
            <form class="navbar-form navbar-left" action="/all" method="get">
              <button class="btn btn-danger show">Show Current Articles</button>
            </form>
				</div>
			</nav>
			{{!-- <div class="main-img-container">
				<img class="main-img" src="assets/img/nyt-pappers.jpg" alt="header-image-nyt-papers" />
			</div> --}}

    {{{body}}}

    <script type="text/javascript" src="/assets/js/app.js"></script>
  </body>
</html>