<div class="articles">
	<br />
	<br />
	<div class='alert alert-warning text-center'>
	  <h4>No articles currently. Hit Scrape up top to get new articles.</h4>
	</div>
</div>

{{!-- Modal for alerting no new articles --}}
<div id="alertModalNew" class="modal fade" role="dialog">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body text-center">
        <h2>Check out the scraped articles.</h2>
      </div>
    </div>
  </div>
</div>